<!DOCTYPE html>

@{
    Layout = "_BaseLayout.cshtml";
}

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/Views/Seguridad/IniciarRegistrar.css")
</head>
<body class="my-login-page">

    @RenderBody()

</body>
</html>