@Styles.Render("~/Content/Views/Shared/pv_Footer.css")

<!-- Footer -->

<footer class="footer-area section_gap mt-auto">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <p class="copyright">
                    Programacion Web 3 2019 2C - Grupo 5 - Martinez Alejo - Allio Ezequiel - Crescenzo Ignacio - Pais Tomas
                </p>
            </div>
        </div>
    </div>
</footer>