/src/Solidam/.vs
/src/Solidam/bin
/src/Solidam/obj
/src/Abstractions/bin
/src/Abstractions/obj
/src/DTO/obj
/src/DTO/bin
/src/Enums/obj
/src/Enums/bin
/src/Exceptions/obj
/src/Exceptions/bin
/src/Helpers/bin
/src/Helpers/obj
/src/Interfaces/obj
/src/Interfaces/bin
/src/Models/obj
/src/Models/bin
/src/Services/obj
/src/Services/bin
/src/ViewModels/obj
/src/ViewModels/bin
/src/Handlers/obj
/src/Handlers/bin
/src/Filters/obj
/src/Filters/bin
/src/Solidam/ConnectionStrings.config
/.vs
/src/Solidam/packages
