.disabled {
    pointer-events: none;
    cursor: default;
    opacity: .5;
}
.me-gusta,.no-me-gusta {
    background: none;
    border: none;
    font-size: 4vh;
}
.causes-details .causes-progress {
    background: none;
}
.section-bg {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-size: cover;
    background-position: center;
    z-index: -1;
    height: 300px;
}

.article .article-img {
    width: 45%;
}