@{
    ViewBag.Title = "Mi Perfil";
    Layout = "~/Views/Shared/_PropuestasLayout.cshtml";
}

<div id="divInvisibleRectangle">

</div>

<h1>Mi Perfil</h1>

@Scripts.Render("~/Scripts/Views/Usuario/MiPerfil.js")