@{
    ViewBag.Title = "Acerca de Solidam";
}

<section class="banner_area">
    <div class="banner_inner d-flex align-items-center" id="bannerAcerca">
        <div class=""></div>
        <div class="container">
            <div class="banner_content text-center">
                <h2>Acerca de Nosotros</h2>
            </div>
        </div>
    </div>
</section>

<section class="about_us section_gap">
    <div class="container">
        <div class="row">
            <div class="col-lg-5">
                <div class="about_img">
                    <img class="img-fluid" src="@Url.Content("~/Images/Views/Inicio/about.jpg")" alt="">
                </div>
            </div>

            <div class="offset-lg-1 col-lg-6">
                <div class="content_wrapper">
                    <h1>Bienvenidos a Solidam</h1>
                    <p>
                        Un espacio donde podrás dar a conocer tus necesidades existentes, como asi también poder colaborar con alguna causa ya sea de tipo monetaria, de insumos, o de horas laborales.
                    </p>
                    <p class="font-weight-bold">
                        ¡No pierdas la oportunidad y sumate a aportar tu granito de arena al mundo!
                    </p>
                    <h5>Te esperamos.</h5>
                </div>
            </div>
        </div>
    </div>
</section>