.footerSolidam {
    background-color: black;
    color: white;
}

@media (min-width: 1000px) {
    .footerAlt {
        background-color: black;
        position: absolute;
        bottom: 0;
        width: 100%;
        color: white;
    }
}

@media (min-width: 400px) {
    .footerAlt {
        background-color: black;
        color: white;
    }
}