@Styles.Render("~/Content/bootstrap-datepicker3.min.css")
@Scripts.Render("~/Scripts/bootstrap-datepicker.min.js")

@{
    ViewBag.Title = "CrearPropuesta";
    Layout = "~/Views/Shared/_PropuestasLayout.cshtml";
}

@Styles.Render("~/Content/Views/Inicio/inicio.css")
@Styles.Render("~/Content/Views/Inicio/inicioResponsive.css")
@model Models.Propuestas

<div class="container">
    <h2>Crear Propuesta</h2>
    <form action="/Propuesta/Crear" method="post" class="mt-4 mx-auto col-xl-7 col-sm-5" enctype="multipart/form-data">
        <div class="form-group">
            <label for="nombrePropuesta">Nombre de la propuesta</label>
            <input type="text" class="form-control" id="nombrePropuesta" name="Nombre" />
        </div>

        <div class="form-group">
            <label for="descripcionPropuesta">Descripción de la propuesta</label>
            <textarea class="form-control" id="descripcionPropuesta" rows="3" name="Descripcion"></textarea>
        </div>

        <div class="form-group">
            <label for="fechaFin">Fecha de finalización</label>
            <div class="input-group date" data-provide="datepicker" id="fechaFin">
                <input type="text" class="form-control" name="FechaFin" id="inputFechaFin">
                <div class="input-group-addon">
                    <span class="fa"></span>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label for="telefonoCont">Teléfono de contacto</label>
            <input type="text" class="form-control" id="telefonoCont" name="TelefonoContacto" />
        </div>

        <div class="form-group">
            <label for="tipoDonacion">Tipo de donación</label>
            <select class="form-control" id="tipoDonacion" name="TipoDonacion">
                <option disabled selected value="0">Seleccionar</option>
                <option value="1">Monetaria</option>
                <option value="2">Insumos</option>
                <option value="3">Horas de trabajo</option>
            </select>
        </div>

        <div id="datosDonacion" class="form-group"></div>

        <div class="form-group">
            <label for="fotoPropuesta">Foto</label>
            <input type="file" class="form-control" id="fotoPropuesta" name="foto" />
        </div>

        <div class="form-group">
            <label for="nombreRef1">Referencia 1</label>
            <input type="text" class="form-control" id="nombreRef1" name="PropuestasReferencias[0].Nombre" />

            <label for="telefonoRef1">Teléfono</label>
            <input type="text" class="form-control" id="telefonoRef1" name="PropuestasReferencias[0].Telefono" />

            <label for="nombreRef2">Referencia 2</label>
            <input type="text" class="form-control" id="nombreRef2" name="PropuestasReferencias[1].Nombre" />

            <label for="telefonoRef2">Teléfono</label>
            <input type="text" class="form-control" id="telefonoRef2" name="PropuestasReferencias[1].Telefono" />
        </div>

        <div class="d-flex justify-content-center my-3">
            <input type="submit" class="btn btn-primary col-3" value="Crear" />
        </div>
    </form>
</div>

@Scripts.Render("~/Scripts/Views/Propuesta/Crear.js")
