
@{
    ViewBag.Title = "Detalle";
    Layout = "~/Views/Shared/_PropuestasLayout.cshtml";
}
@using System.Globalization
@using Enums
@using Helpers
@using Models
@using Services
@model Solidam.ViewModel.PropuestaDetalleViewModel
@*@Styles.Render("~/Content/Views/Inicio/inicio.css")*@
@*@Styles.Render("~/Content/Views/Inicio/inicioResponsive.css")*@
@Styles.Render("~/Content/Views/Propuestas/Detalle.css")
<div class="container mt-3">
    <h2>Detalle propuesta</h2>
    @switch (Model.Propuesta.TipoDonacion)
    {
        case (int) TipoDonacion.Monetaria:
            @Html.Partial("pv_DetalleMonetaria", Model)

            break;
        case (int) TipoDonacion.HorasDeTrabajo:
            @Html.Partial("pv_DetalleHorasTrabajo", Model)
            break;
        case (int) TipoDonacion.Insumos:
            @Html.Partial("pv_DetalleInsumos",Model)
            break;

    }
</div>